body  {
    color: white;
    background:rgb(45, 1, 45);
    margin:0px;

}

header {

border-bottom:solid 2px rgb(236, 195, 11, 0.861);
padding:3px;
font-size: 30px;
color: rgb(180, 12, 155);
font-family: "Rubik Mono One", monospace;

}

section {

background: rgb(81, 1, 81) ;
padding-bottom: 50px;
display: flex;
justify-content: center;
font-family: "Chakra Petch", sans-serif;
}

.chamada-texto {

margin-right: 10px;

}

h1 {
font-size: 28px;
}

p{

font-size: 20px;
}

